<!DOCTYPE html>
<html>
  <head>
    <title>NDS资源管理</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= yield :stylesheets %>
  </head>

  <body>
    <%= render 'layouts/menu' %>
    <div class="container">
      <% unless flash[:notice].blank? %>
        <div class="alert alert-info"><%= flash[:notice] %></div>
      <% end %>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <%= yield %>
      <br/>
      <br/>
      <div class="container">
        <%= render "layouts/footer" %>
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascripts %>
  </body>
</html>
